* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "./cards";
@import "./header";
@import "./teams";
@import "./Publication";
@import "./footer";
@import "./companies";
@import "./media-breakpoints";
@import "./breakpoint";
@import "./media-style";















